Repository dart-lang/leak_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
      - any-glob-to-any-file: '.github/**'

'package:leak_tracker':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/leak_tracker/**'

'package:leak_tracker_flutter_testing':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/leak_tracker_flutter_testing/**'

'package:leak_tracker_testing':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/leak_tracker_testing/**'

'package:memory_usage':
  - changed-files:
      - any-glob-to-any-file: 'pkgs/memory_usage/**'

-
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

-
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

-
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
Labels: package:leak_tracker_flutter_testing

Update test_settings.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
Labels: package:leak_tracker_flutter_testing

Update _test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/testing_test.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update _test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/test_helpers.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/testing_test.dart
Labels: package:leak_tracker_flutter_testing

Update test_helpers_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/test_helpers_test.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/README.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/leaking_classes.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/README.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/leaking_classes.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/test_helpers.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/testing_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

Update model.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Ignore test helpers. (#196)
  .github/workflows/ci.yaml
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/README.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/leaking_classes.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/test_infra/dart_classes.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/flutter_classes.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/test_helpers.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/test_helpers_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/testing_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
  pkgs/memory_usage/analysis_options.yaml
Labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

Update analyze.sh
  tool/analyze.sh
Labels: none

-
  tool/analyze.sh
  tool/diagrams.sh
  tool/lt_publish.sh
  tool/pub_get.sh
Labels: none
