Repository dart-lang/leak_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

-
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_web_tests/test/test_infra/memory_leak_tests.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_web_tests/test/leak_detection_test.dart
  pkgs/leak_tracker_web_tests/test/smoke_test.dart
  pkgs/leak_tracker_web_tests/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_web_tests/test/test_infra/test_helpers.dart
Labels: none

-
  pkgs/leak_tracker/lib/src/leak_tracking/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker_flutter_testing/lib/DEPENDENCIES.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_testing/lib/src/DEPENDENCIES.md
  pkgs/leak_tracker_web_tests/test/leak_detection_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

-
  .github/workflows/ci.yaml
  tool/analyze.sh
  tool/pub_get.sh
Labels: type-infra

-
  README.md
  doc/USAGE.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

-
  doc/leak_tracking/CONTRIBUTING.md
  doc/leak_tracking/images/rename.png
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/example/pubspec.yaml
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/pubspec_overrides.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/pubspec_overrides.yaml
  pkgs/leak_tracker_web_tests/pubspec.yaml
  pkgs/leak_tracker_web_tests/pubspec_overrides.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

-
  doc/leak_tracking/CONTRIBUTING.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  doc/leak_tracking/DETECT.md
  pkgs/leak_tracker_testing/README.md
Labels: package:leak_tracker_testing

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

-
  doc/leak_tracking/CONTRIBUTING.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  examples/leak_tracking/lib/main.dart
  pkgs/leak_tracker/example/main.dart
  pkgs/leak_tracker/test/test_infra/data/dart_classes.dart
  pkgs/leak_tracker/test/test_infra/mocks/mock_object_tracker.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_gc_counter_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_checker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_filter_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_record_set_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/helpers_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/model_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/orchestration_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/retaining_path/_retaining_path_test.dart
  pkgs/leak_tracker/test/tests/shared/_primitives_test.dart
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/leaking_classes.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/test_helpers.dart
  pkgs/leak_tracker_flutter_testing/test/tests/_dispatcher_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/_formatting_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/_retaining_path_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/test_helpers_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/matchers_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/testing_test.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/lib/src/matchers.dart
  pkgs/leak_tracker_testing/test/end_to_end_test.dart
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
  pkgs/leak_tracker_testing/test/matchers_test.dart
  pkgs/leak_tracker_web_tests/test/leak_detection_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  README.md
  doc/leak_tracking/DETECT.md
Labels: none

Update CHANGELOG.md
  pkgs/leak_tracker/CHANGELOG.md
Labels: package:leak_tracker

-
  doc/leak_tracking/DETECT.md
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_records.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_record_set_test.dart
Labels: package:leak_tracker

Update testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
Labels: package:leak_tracker_flutter_testing

Web testing (#255)
  .github/workflows/ci.yaml
  .vscode/launch.json
  README.md
  doc/BASELINE.md
  doc/USAGE.md
  doc/leak_tracking/CONTRIBUTING.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/images/rename.png
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_records.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_record_set_test.dart
  pkgs/leak_tracker_flutter_testing/lib/DEPENDENCIES.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/leak_tracker_testing/README.md
  pkgs/leak_tracker_testing/lib/DEPENDENCIES.md
  pkgs/leak_tracker_testing/lib/src/DEPENDENCIES.md
  pkgs/leak_tracker_web_tests/README.md
  pkgs/leak_tracker_web_tests/analysis_options.yaml
  pkgs/leak_tracker_web_tests/pubspec.yaml
  pkgs/leak_tracker_web_tests/pubspec_overrides.yaml
  pkgs/leak_tracker_web_tests/test/leak_detection_test.dart
  pkgs/leak_tracker_web_tests/test/smoke_test.dart
  tool/analyze.sh
  tool/pub_get.sh
Labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

- (#268)
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Minor fixes for documentation. (#269)
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Update OVERVIEW.md
  doc/leak_tracking/OVERVIEW.md
Labels: none

-
  doc/leak_tracking/DETECT.md
  pkgs/leak_tracker/README.md
  pkgs/leak_tracker_flutter_testing/README.md
  pkgs/leak_tracker_testing/README.md
  pkgs/leak_tracker_web_tests/README.md
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Remove signs 'coming soon'. (#270)
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/OVERVIEW.md
  pkgs/leak_tracker/README.md
  pkgs/leak_tracker_flutter_testing/README.md
  pkgs/leak_tracker_testing/README.md
  pkgs/leak_tracker_web_tests/README.md
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md (#271)
  doc/leak_tracking/DETECT.md
Labels: none

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md (#272)
  doc/leak_tracking/CONTRIBUTING.md
Labels: none

Bump version to make readme visible on pub.dev.
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
Labels: package:leak_tracker

Bump version to make readme visible on pub.dev. (#275)
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
Labels: package:leak_tracker

Update README to remove under construction section
  README.md
Labels: none

Update README to remove under construction section (#276)
  README.md
Labels: none

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - '.github/**'

'package:leak_tracker':
  - 'pkgs/leak_tracker/**'

'package:leak_tracker_flutter_testing':
  - 'pkgs/leak_tracker_flutter_testing/**'

'package:leak_tracker_testing':
  - 'pkgs/leak_tracker_testing/**'

'package:memory_usage':
  - 'pkgs/memory_usage/**'
