Repository dart-lang/leak_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

Enhance scripting. (#204)
  tool/analyze.sh
  tool/lt_publish.sh
  tool/pub_get.sh
Labels: none

-
  README.md
  doc/BASELINE.md
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/OVERVIEW.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/OVERVIEW.md
  doc/leak_tracking/images/leak.png
Labels: none

-
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/OVERVIEW.md
Labels: none

-
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/OVERVIEW.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  doc/leak_tracking/DETECT.md
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_filter_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/model_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update model.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker/README.md
  pkgs/leak_tracker_flutter_testing/README.md
  pkgs/leak_tracker_testing/README.md
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update _object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_filter_test.dart
Labels: package:leak_tracker

Update _object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
Labels: package:leak_tracker

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/test/end_to_end_test.dart
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
Labels: package:leak_tracker_flutter_testing

Update Dart SDK constraint to account for used dart:developer APIs
  examples/autosnapshotting/pubspec.yaml
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/example/pubspec.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/_retaining_path_isolate.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/example/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

Switch to non-wip versions to prepare for release
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update Dart SDK constraint to account for used dart:developer APIs (#206)
  examples/autosnapshotting/pubspec.yaml
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/example/pubspec.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/_retaining_path_isolate.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/example/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update doc/leak_tracking/DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  .vscode/settings.json
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/TROUBLESHOOT.md
  pkgs/leak_tracker_testing/CHANGELOG.md
Labels: package:leak_tracker_testing

Create extensions.json
  .vscode/extensions.json
Labels: none

-
  .vscode/settings.json
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
Labels: package:leak_tracker_flutter_testing

-
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  pkgs/leak_tracker_testing/README.md
Labels: package:leak_tracker_testing

-
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/OVERVIEW.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

Update settings.json
  .vscode/settings.json
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update MOTIVATION.md
  doc/leak_tracking/MOTIVATION.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update leak_testing.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
Labels: package:leak_tracker_testing

Update leak_testing.dart (#208)
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
Labels: package:leak_tracker_testing

-
  .vscode/settings.json
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
Labels: package:leak_tracker

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - '.github/**'

'package:leak_tracker':
  - 'pkgs/leak_tracker/**'

'package:leak_tracker_flutter_testing':
  - 'pkgs/leak_tracker_flutter_testing/**'

'package:leak_tracker_testing':
  - 'pkgs/leak_tracker_testing/**'

'package:memory_usage':
  - 'pkgs/memory_usage/**'
