Repository dart-lang/leak_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

-
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/web_tests/pubspec_overrides.yaml
  pkgs/web_tests/test/smoke_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/web_tests/test/smoke_test.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: none

-
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/smoke_test.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: none

-
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: none

Update test_settings.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
Labels: package:leak_tracker_flutter_testing

-
  .vscode/launch.json
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/web_tests/test/leak_detection_test.dart
Labels: package:leak_tracker_flutter_testing

Update leak_detection_test.dart
  pkgs/web_tests/test/leak_detection_test.dart
Labels: none

-
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: none

-
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: package:leak_tracker

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  doc/leak_tracking/DETECT.md
  pkgs/leak_tracker/lib/DEPENDENCIES.md
  pkgs/leak_tracker/lib/devtools_integration.dart
  pkgs/leak_tracker/lib/src/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/_protocol.dart
  pkgs/leak_tracker/lib/src/devtools_integration/_registration.dart
  pkgs/leak_tracker/lib/src/devtools_integration/delivery.dart
  pkgs/leak_tracker/lib/src/devtools_integration/messages.dart
  pkgs/leak_tracker/lib/src/devtools_integration/primitives.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_reporter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/test/test_infra/data/messages.dart
  pkgs/leak_tracker/test/tests/devtools_integration/_envelopes_test.dart
  pkgs/leak_tracker/test/tests/devtools_integration/delivery_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_checker_test.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  doc/BASELINE.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
Labels: package:leak_tracker

-
  .vscode/settings.json
  pkgs/leak_tracker/lib/devtools_integration.dart
  pkgs/leak_tracker/lib/src/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/_protocol.dart
  pkgs/leak_tracker/lib/src/devtools_integration/_registration.dart
  pkgs/leak_tracker/lib/src/devtools_integration/delivery.dart
  pkgs/leak_tracker/lib/src/devtools_integration/messages.dart
  pkgs/leak_tracker/lib/src/devtools_integration/primitives.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_reporter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker/test/test_infra/data/messages.dart
  pkgs/leak_tracker/test/tests/devtools_integration/_envelopes_test.dart
  pkgs/leak_tracker/test/tests/devtools_integration/delivery_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_checker_test.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/model.dart
Labels: package:leak_tracker_flutter_testing

Update pubspec.yaml
  pkgs/leak_tracker/pubspec.yaml
Labels: package:leak_tracker

Update CHANGELOG.md
  pkgs/leak_tracker/CHANGELOG.md
Labels: package:leak_tracker

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md (#261)
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
Labels: package:leak_tracker

Loosen package:vm_service constraints to allow for 15.0.0
  pkgs/leak_tracker/pubspec.yaml
Labels: package:leak_tracker

Update CHANGELOG.md
  pkgs/leak_tracker/CHANGELOG.md
Labels: package:leak_tracker

Loosen package:vm_service constraints to allow for 15.0.0 (#262)
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
Labels: package:leak_tracker

Remove not-used code and features. (#259)
  .vscode/settings.json
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/devtools_integration.dart
  pkgs/leak_tracker/lib/src/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/_protocol.dart
  pkgs/leak_tracker/lib/src/devtools_integration/_registration.dart
  pkgs/leak_tracker/lib/src/devtools_integration/delivery.dart
  pkgs/leak_tracker/lib/src/devtools_integration/messages.dart
  pkgs/leak_tracker/lib/src/devtools_integration/primitives.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_reporter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/test_infra/data/messages.dart
  pkgs/leak_tracker/test/tests/devtools_integration/_envelopes_test.dart
  pkgs/leak_tracker/test/tests/devtools_integration/delivery_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_checker_test.dart
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/model.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

Fix teardown(focusNode.dispose())
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Fix teardown(focusNode.dispose()) (#263)
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

fix: collectLeaks method gxedLate filters by wrong LeakType
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
Labels: package:leak_tracker

fix: collectLeaks method gxedLate filters by wrong LeakType
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
Labels: package:leak_tracker

fix: collectLeaks method gxedLate filters by wrong LeakType - addition to previous commit, leaks were ignored
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
Labels: package:leak_tracker

feat: add doc comments to IgnoredLeaks
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
Labels: package:leak_tracker

feat: add doc comments to IgnoredLeaks (optimise text for clarity)
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
Labels: package:leak_tracker

update version of leak_tracker to 11.0.1
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

fix: line length exceeds 80 characters on _object_tracker and model
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker_web_tests/README.md
  pkgs/leak_tracker_web_tests/analysis_options.yaml
  pkgs/leak_tracker_web_tests/pubspec.yaml
  pkgs/leak_tracker_web_tests/pubspec_overrides.yaml
  pkgs/leak_tracker_web_tests/test/leak_detection_test.dart
  pkgs/leak_tracker_web_tests/test/smoke_test.dart
  pkgs/leak_tracker_web_tests/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_web_tests/test/test_infra/test_helpers.dart
Labels: none

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - '.github/**'

'package:leak_tracker':
  - 'pkgs/leak_tracker/**'

'package:leak_tracker_flutter_testing':
  - 'pkgs/leak_tracker_flutter_testing/**'

'package:leak_tracker_testing':
  - 'pkgs/leak_tracker_testing/**'

'package:memory_usage':
  - 'pkgs/memory_usage/**'
