Repository dart-lang/leak_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - '.github/**'

'package:leak_tracker':
  - 'pkgs/leak_tracker/**'

'package:leak_tracker_flutter_testing':
  - 'pkgs/leak_tracker_flutter_testing/**'

'package:leak_tracker_testing':
  - 'pkgs/leak_tracker_testing/**'

'package:memory_usage':
  - 'pkgs/memory_usage/**'

-
  doc/leak_tracking/OVERVIEW.md
  pkgs/leak_tracker/lib/src/leak_tracking/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/DEPENDENCIES.md
  pkgs/leak_tracker_flutter_testing/README.md
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  .github/workflows/ci.yaml
  pkgs/leak_tracker/lib/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/leak_tracking/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/shared/DEPENDENCIES.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

Update ci.yaml
  .github/workflows/ci.yaml
Labels: type-infra

Update _object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
Labels: package:leak_tracker

Stop failing on double finalization (#224)
  .github/workflows/ci.yaml
  doc/leak_tracking/OVERVIEW.md
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/devtools_integration/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/leak_tracking/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/helpers.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/shared/DEPENDENCIES.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/README.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

-
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

- (#225)
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_record_set_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/dart_developer_test.dart
Labels: package:leak_tracker

Update leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_record_set_test.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

Update _object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
Labels: package:leak_tracker

-
  pkgs/memory_usage/lib/memory_usage.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/_snapshot.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/_usage_event.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/_util.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/auto_snapshotting.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/model.dart
  pkgs/memory_usage/test/_snapshot_test.dart
Labels: package:memory_usage

-
  pkgs/memory_usage/lib/DEPENDENCIES.md
  pkgs/memory_usage/lib/src/DEPENDENCIES.md
  pkgs/memory_usage/lib/src/auto_snapshotting/DEPENDENCIES.md
Labels: package:memory_usage

Reorganize code to prepare for more features. (#227)
  pkgs/memory_usage/lib/DEPENDENCIES.md
  pkgs/memory_usage/lib/memory_usage.dart
  pkgs/memory_usage/lib/src/DEPENDENCIES.md
  pkgs/memory_usage/lib/src/auto_snapshotting/DEPENDENCIES.md
  pkgs/memory_usage/lib/src/auto_snapshotting/_snapshot.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/_usage_event.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/_util.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/auto_snapshotting.dart
  pkgs/memory_usage/lib/src/auto_snapshotting/model.dart
  pkgs/memory_usage/test/_snapshot_test.dart
Labels: package:memory_usage

Fix handling of double tracking for an object. (#226)
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/tests/leak_tracking/_object_record_set_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/dart_developer_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md (#230)
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md (#233)
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Fix. typos in leak_tracker
  pkgs/leak_tracker/lib/src/devtools_integration/_registration.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
Labels: package:leak_tracker

Fix. typos in leak_tracker (#234)
  pkgs/leak_tracker/lib/src/devtools_integration/_registration.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
Labels: package:leak_tracker

Updated URL referencing troubleshooting documentation.
  pkgs/leak_tracker/lib/src/leak_tracking/helpers.dart
Labels: package:leak_tracker

Updated URL referencing troubleshooting documentation. (#236)
  pkgs/leak_tracker/lib/src/leak_tracking/helpers.dart
Labels: package:leak_tracker

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update doc/leak_tracking/TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update doc/leak_tracking/TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Add instructions about disposal of image handle. (#237)
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  .gitignore
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

- (#238)
  .gitignore
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

update deps
  examples/autosnapshotting/pubspec.yaml
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/example/pubspec.yaml
  pkgs/leak_tracker/lib/devtools_integration.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/example/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

remove duplicative lints
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker_flutter_testing/analysis_options.yaml
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/memory_usage/analysis_options.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

update deps (#241)
  examples/autosnapshotting/pubspec.yaml
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/example/pubspec.yaml
  pkgs/leak_tracker/lib/devtools_integration.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/analysis_options.yaml
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/analysis_options.yaml
  pkgs/memory_usage/example/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

-
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/test/tests/shared/_primitives_test.dart
Labels: package:leak_tracker

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update analyze.sh
  tool/analyze.sh
Labels: none
