Repository dart-lang/leak_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

-
  pkgs/leak_tracker_flutter_testing/lib/src/matchers.dart
  tool/analyze.sh
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

Fix broken link and test cover. (#242)
  doc/leak_tracking/TROUBLESHOOT.md
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/tests/shared/_primitives_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/src/matchers.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/CHANGELOG.md
Labels: package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
Labels: package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
Labels: package:leak_tracker_flutter_testing

Bump (#243)
  doc/leak_tracking/TROUBLESHOOT.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

Add note about widgets.
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Add note about widgets. (#244)
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

docs: Update testExecutable signature in documentation
  doc/leak_tracking/DETECT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

docs: Update testExecutable signature in documentation (#245)
  doc/leak_tracking/DETECT.md
Labels: none

Update analysis_options.yaml
  pkgs/leak_tracker/analysis_options.yaml
Labels: package:leak_tracker

Update testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
Labels: package:leak_tracker_flutter_testing

Update analysis_options.yaml
  pkgs/leak_tracker/analysis_options.yaml
Labels: package:leak_tracker

Help dependabot to apply new analyzer rules. (#249)
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
Labels: package:leak_tracker_flutter_testing

Update image handling.
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update TROUBLESHOOT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update image handling instructions. (#250)
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

-
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker_testing/lib/src/matchers.dart
Labels: package:leak_tracker, package:leak_tracker_testing

Update matchers.dart
  pkgs/leak_tracker_testing/lib/src/matchers.dart
Labels: package:leak_tracker_testing

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/test/matchers_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

-
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
Labels: package:leak_tracker

Make link to documentation customizable. (#251)
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/test/matchers_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update ci.yaml
  .github/workflows/ci.yaml
Labels: type-infra

-
  .github/workflows/ci.yaml
  pkgs/web_tests/README.md
  pkgs/web_tests/analysis_options.yaml
  pkgs/web_tests/pubspec.yaml
  pkgs/web_tests/test/leak_detection_test.dart
Labels: type-infra

-
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/test_helpers/lib/event_tracker.dart
  pkgs/test_helpers/lib/leaking_classes.dart
  pkgs/test_helpers/lib/memory_leak_tests.dart
  pkgs/test_helpers/lib/test_case.dart
  pkgs/test_helpers/lib/test_helpers.dart
  pkgs/test_helpers/pubspec.yaml
  pkgs/test_helpers/pubspec_overrides.yaml
  pkgs/web_tests/README.md
  pkgs/web_tests/pubspec_overrides.yaml
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/smoke_test.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/test_helpers/pubspec.yaml
  pkgs/web_tests/pubspec.yaml
  pkgs/web_tests/test/leak_detection_test.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/test_helpers/lib/src/test_case.dart
  pkgs/test_helpers/lib/test_helpers.dart
  pkgs/test_helpers/pubspec.yaml
  pkgs/test_helpers/pubspec_overrides.yaml
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/test_helpers/lib/src/leaking_classes.dart
  pkgs/test_helpers/lib/test_helpers.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/test_helpers/lib/src/README.md
  pkgs/test_helpers/lib/src/test_settings.dart
  pkgs/test_helpers/lib/test_helpers.dart
Labels: package:leak_tracker_flutter_testing

Update leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
Labels: package:leak_tracker_flutter_testing

-
  pkgs/web_tests/README.md
  pkgs/web_tests/analysis_options.yaml
  pkgs/web_tests/pubspec.yaml
  pkgs/web_tests/pubspec_overrides.yaml
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/smoke_test.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
  pkgs/web_tests/test/test_infra/test_helpers.dart
Labels: none

Update leak_detection_test.dart
  pkgs/web_tests/test/leak_detection_test.dart
Labels: none

-
  pkgs/web_tests/pubspec.yaml
  pkgs/web_tests/test/leak_detection_test.dart
Labels: none

-
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/leak_detection_test.dart
  pkgs/web_tests/test/leak_detection_test.dart
  pkgs/web_tests/test/test_infra/memory_leak_tests.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - '.github/**'

'package:leak_tracker':
  - 'pkgs/leak_tracker/**'

'package:leak_tracker_flutter_testing':
  - 'pkgs/leak_tracker_flutter_testing/**'

'package:leak_tracker_testing':
  - 'pkgs/leak_tracker_testing/**'

'package:memory_usage':
  - 'pkgs/memory_usage/**'
