Repository dart-lang/leak_tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

Update _leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
Labels: package:leak_tracker

Update _leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
Labels: package:leak_tracker

Update _leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
Labels: package:leak_tracker

Update settings.json
  .vscode/settings.json
Labels: none

-
  .vscode/settings.json
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/test_helpers_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
Labels: package:leak_tracker

Update _test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
Labels: package:leak_tracker

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  README.md
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/OVERVIEW.md
  doc/leak_tracking/TROUBLESHOOT.md
  examples/leak_tracking/README.md
  pkgs/leak_tracker/example/README.md
  pkgs/leak_tracker/lib/src/devtools_integration/primitives.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/test/tests/leak_tracking/platform_test.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/test/end_to_end_test.dart
Labels: package:leak_tracker, package:leak_tracker_testing

-
  .vscode/settings.json
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/analysis_options.yaml
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/memory_usage/analysis_options.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

-
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
Labels: package:leak_tracker

-
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/TROUBLESHOOT.md
Labels: none

Update documentation and turn off notGCed by default. (#205)
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  doc/BASELINE.md
  doc/DETECT.md
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/OVERVIEW.md
  doc/leak_tracking/TROUBLESHOOT.md
  doc/leak_tracking/images/leak.png
  examples/leak_tracking/README.md
  pkgs/leak_tracker/README.md
  pkgs/leak_tracker/example/README.md
  pkgs/leak_tracker/lib/src/devtools_integration/primitives.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_filter_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/model_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/platform_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/README.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/README.md
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/end_to_end_test.dart
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update _object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
Labels: package:leak_tracker

Improve performance of leak tracker. (#209)
  .vscode/settings.json
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/analysis_options.yaml
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/test_helpers_test.dart
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/memory_usage/analysis_options.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

-
  .vscode/settings.json
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

Update CHANGELOG.md
  pkgs/leak_tracker/CHANGELOG.md
Labels: package:leak_tracker

Update CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
Labels: package:leak_tracker_flutter_testing

Fix versioning. (#211)
  .vscode/settings.json
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

Update pubspec.yaml
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

Upgrade leak_tracker_testing. (#212)
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

Update OVERVIEW.md
  doc/leak_tracking/OVERVIEW.md
Labels: none

Update OVERVIEW.md (#213)
  doc/leak_tracking/OVERVIEW.md
Labels: none

-
  pkgs/memory_usage/CHANGELOG.md
  pkgs/memory_usage/pubspec.yaml
Labels: package:memory_usage

Update USAGE.md
  doc/USAGE.md
Labels: none

Prepare the package `memory_usage` for publishing. (#214)
  doc/USAGE.md
  pkgs/memory_usage/CHANGELOG.md
  pkgs/memory_usage/pubspec.yaml
Labels: package:memory_usage

-
  .vscode/settings.json
  doc/USAGE.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Note flutter version. (#216)
  .vscode/settings.json
  doc/USAGE.md
  doc/leak_tracking/DETECT.md
Labels: none

-
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing

Update CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
Labels: package:leak_tracker_flutter_testing

-
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker_flutter_testing, package:leak_tracker_testing

- (#219)
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update pubspec.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker_testing

Add exceptions for test helpers. (#217)
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

Update helpers.dart
  pkgs/leak_tracker/lib/src/leak_tracking/helpers.dart
Labels: package:leak_tracker

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Update DETECT.md
  doc/leak_tracking/DETECT.md
Labels: none

Instruct not to specify version. (#220)
  doc/leak_tracking/DETECT.md
Labels: none

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - '.github/**'

'package:leak_tracker':
  - 'pkgs/leak_tracker/**'

'package:leak_tracker_flutter_testing':
  - 'pkgs/leak_tracker_flutter_testing/**'

'package:leak_tracker_testing':
  - 'pkgs/leak_tracker_testing/**'

'package:memory_usage':
  - 'pkgs/memory_usage/**'
