Repository dart-lang/leak_tracker, pull requests merged in 2023-12, with the labels that each got.

#186 chore: refactor code style
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
Labels: package:leak_tracker

#190 fix: add missing on leak callback
  pkgs/leak_tracker_flutter_testing/lib/src/test_widgets.dart
Labels: package:leak_tracker_flutter_testing

#189 Fix. typos in leak_tracker
  doc/BASELINE.md
  doc/DETECT.md
  doc/TROUBLESHOOT.md
  doc/USAGE.md
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/usage_tracking/model.dart
  pkgs/leak_tracker/test/test_infra/data/messages.dart
  pkgs/leak_tracker_flutter_testing/lib/src/test_widgets.dart
  pkgs/memory_usage/lib/src/model.dart
  tool/diagrams.sh
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:memory_usage

#188 Add API to integrate with testWidgets.
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/leak_tracker.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/test_widgets.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/failing_tests/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/no_config_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/per_test_config_test/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/per_test_config_test/per_test_config_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/settings_not_disposed_off_test/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/settings_not_gced_off_test/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/testing_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/lib/leak_tracker_testing.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

#193 Update `vm_service` dependency to `>=11.0.0 <15.0.0`
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/pubspec.yaml
Labels: package:leak_tracker

#194 Remove declaration of testWidgetsWithLeakTracking.
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/matchers.dart
  pkgs/leak_tracker_flutter_testing/lib/src/test_widgets.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/_dispatcher_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/_formatting_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/_retaining_path_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/baselining_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/failing_tests/failure_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/failing_tests/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/no_config_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/no_tracking_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/per_test_config_test/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/per_test_config_test/per_test_config_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/settings_not_disposed_off_test/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/settings_not_disposed_off_test/settings_not_disposed_off_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/settings_not_gced_off_test/flutter_test_config.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/settings_not_gced_off_test/settings_not_gced_off_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/matchers_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/testing_test.dart
Labels: package:leak_tracker_flutter_testing

#195 Cleanup leak_tracker.
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/leak_tracker.dart
  pkgs/leak_tracker/lib/src/usage_tracking/DEPENDENCIES.md
  pkgs/leak_tracker/lib/src/usage_tracking/_snapshot.dart
  pkgs/leak_tracker/lib/src/usage_tracking/_usage_event.dart
  pkgs/leak_tracker/lib/src/usage_tracking/model.dart
  pkgs/leak_tracker/lib/src/usage_tracking/usage_tracking.dart
  pkgs/leak_tracker/test/tests/usage_tracking/_snapshot_test.dart
  pkgs/leak_tracker/test/tests/usage_tracking/model_test.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

#198 Standardize lints to `dart_flutter_team_lints`
  examples/autosnapshotting/analysis_options.yaml
  examples/autosnapshotting/integration_test/app_test.dart
  examples/leak_tracking/analysis_options.yaml
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/lib/src/devtools_integration/_protocol.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_baseliner.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_records.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/helpers.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_print_bytes.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/_connection.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/_retaining_path.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/_retaining_path_isolate.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/_retaining_path_web.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/_formatting.dart
  pkgs/leak_tracker/lib/src/shared/_util.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/test_infra/utils.dart
  pkgs/leak_tracker/test/tests/devtools_integration/_envelopes_test.dart
  pkgs/leak_tracker/test/tests/devtools_integration/delivery_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_record_set_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/platform_test.dart
  pkgs/leak_tracker_flutter_testing/analysis_options.yaml
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/matchers.dart
  pkgs/leak_tracker_flutter_testing/lib/src/model.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/_dispatcher_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/_formatting_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/_retaining_path_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/matchers_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/testing_test.dart
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/leak_tracker_testing/lib/leak_tracker_testing.dart
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/lib/src/matchers.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/end_to_end_test.dart
  pkgs/memory_usage/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

#197 Add global enabler to LeakTesting.
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/testing_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing
