Repository dart-lang/leak_tracker, pull requests merged in 2024-08, with the labels that each got.

#241 update deps
  examples/autosnapshotting/pubspec.yaml
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/example/pubspec.yaml
  pkgs/leak_tracker/lib/devtools_integration.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/analysis_options.yaml
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/analysis_options.yaml
  pkgs/memory_usage/example/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

#242 Fix broken link and test cover.
  doc/leak_tracking/TROUBLESHOOT.md
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/tests/shared/_primitives_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/src/matchers.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: autosubmit, package:leak_tracker, package:leak_tracker_flutter_testing

#243 Bump
  doc/leak_tracking/TROUBLESHOOT.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: autosubmit, package:leak_tracker_flutter_testing

#244 Add note about widgets.
  doc/leak_tracking/TROUBLESHOOT.md
Labels: autosubmit
