Repository dart-lang/leak_tracker, pull requests merged in 2024-01, with the labels that each got.

#196 Ignore test helpers.
  .github/workflows/ci.yaml
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/shared_model.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/lib/leak_tracker_flutter_testing.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/README.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/leaking_classes.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/test_infra/dart_classes.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/flutter_classes.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/memory_leak_tests.dart
  pkgs/leak_tracker_flutter_testing/test/test_infra/test_helpers.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/test_helpers_test.dart
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/testing_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
  pkgs/memory_usage/analysis_options.yaml
Labels: type-infra, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

#206 Update Dart SDK constraint to account for used dart:developer APIs
  examples/autosnapshotting/pubspec.yaml
  examples/leak_tracking/pubspec.yaml
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/example/pubspec.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_retaining_path/_retaining_path_isolate.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/memory_usage/example/pubspec.yaml
  pkgs/memory_usage/pubspec.yaml
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

#208 Document perf issues to ignore test helpers.
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
Labels: package:leak_tracker_testing

#205 Update documentation and turn off notGCed by default.
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  doc/BASELINE.md
  doc/DETECT.md
  doc/leak_tracking/CONCEPTS.md
  doc/leak_tracking/DETECT.md
  doc/leak_tracking/MOTIVATION.md
  doc/leak_tracking/OVERVIEW.md
  doc/leak_tracking/TROUBLESHOOT.md
  doc/leak_tracking/images/leak.png
  examples/leak_tracking/README.md
  pkgs/leak_tracker/README.md
  pkgs/leak_tracker/example/README.md
  pkgs/leak_tracker/lib/src/devtools_integration/primitives.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/leak_tracking.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/model.dart
  pkgs/leak_tracker/lib/src/shared/_primitives.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_leak_filter_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/_object_tracker_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/model_test.dart
  pkgs/leak_tracker/test/tests/leak_tracking/platform_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/README.md
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_settings.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/leak_tracking_for_tests_test.dart
  pkgs/leak_tracker_testing/CHANGELOG.md
  pkgs/leak_tracker_testing/README.md
  pkgs/leak_tracker_testing/lib/src/leak_testing.dart
  pkgs/leak_tracker_testing/pubspec.yaml
  pkgs/leak_tracker_testing/test/end_to_end_test.dart
  pkgs/leak_tracker_testing/test/leak_testing_test.dart
Labels: package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing

#209 Improve performance of leak tracker.
  .vscode/settings.json
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker/analysis_options.yaml
  pkgs/leak_tracker/lib/src/leak_tracking/_leak_filter.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_record_set.dart
  pkgs/leak_tracker/lib/src/leak_tracking/_object_tracker.dart
  pkgs/leak_tracker/lib/src/leak_tracking/primitives/_test_helper_detector.dart
  pkgs/leak_tracker/pubspec.yaml
  pkgs/leak_tracker/test/tests/leak_tracking/_primitives/_test_helper_detector_test.dart
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/analysis_options.yaml
  pkgs/leak_tracker_flutter_testing/lib/src/testing_for_testing/test_case.dart
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
  pkgs/leak_tracker_flutter_testing/test/tests/end_to_end/test_helpers_test.dart
  pkgs/leak_tracker_testing/analysis_options.yaml
  pkgs/memory_usage/analysis_options.yaml
Labels: autosubmit, package:leak_tracker, package:leak_tracker_flutter_testing, package:leak_tracker_testing, package:memory_usage

#211 Fix versioning.
  .vscode/settings.json
  pkgs/leak_tracker/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: autosubmit, package:leak_tracker, package:leak_tracker_flutter_testing

#212 Upgrade leak_tracker_testing.
  pkgs/leak_tracker_flutter_testing/CHANGELOG.md
  pkgs/leak_tracker_flutter_testing/pubspec.yaml
Labels: package:leak_tracker_flutter_testing

#214 Prepare the package `memory_usage` for publishing.
  doc/USAGE.md
  pkgs/memory_usage/CHANGELOG.md
  pkgs/memory_usage/pubspec.yaml
Labels: package:memory_usage

#216 Note flutter version.
  .vscode/settings.json
  doc/USAGE.md
  doc/leak_tracking/DETECT.md
Labels: autosubmit
